*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
header{
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
.search{
    align-items: center;
}
.top-navbar{
    align-items: center;
}
.top-navbar a{
    margin-left: 30px;
}
.sidebar{
    background-color:#222222 ;
    width: 319px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-top:-120px;
}
.sidebar a{
    color: white;
}
.middle-top-nav{
    justify-content: space-between;
    align-items: center;
}
.middle-top-nav a{
    padding-left: 32px;
}
.filter-div{
    align-items: center;
    justify-content: center;
    width: 132px;
    min-height: 56px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #D8D8D8;
}
.filter-image{
    margin-right: 15px;
}
.load-more{
    justify-content: center;
    
}
.sidebar-nav{
    background-color: #222222;
    height: 100%;
    padding: 2rem;
}
.sidebar-nav li{
    display: flex;
    align-items: center;
    margin-top:51px;
}
.sidebar-nav a{
    padding-left: 15px;
    color:#FFFFFF;
    font-size: 16px;
}
.side-designers{
    color: #FFFFFF;
    align-items: center;
    margin-top: 28px;
}
.side-designers img{
    padding-right: 20px;
}
.sibebar-nav-div{
    margin-bottom: 85px;
}
.following h2{
    color: #FFFFFF;
    size: 12px;

}
.load-more-left{
    margin-top: 19px;
}