*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
header{
    align-items: center;
    padding: 30px;
    margin-left: 344px;
    justify-content: space-between;
    max-width: 1920px;
}
.search{
    align-items: center;
}
.search-inspiration{
    width: 446px;
    height: 56px;
    background-color: #F8F8F8;
    border: none;
    border-radius: 12px;
    padding: 20px;
    position: relative;
}
.upload-btn{
    margin-left: 30px;
    width: 129px;
    height: 56px;
    background-color: #FF2288;
    border-radius: 12px;
    border: none;
    color: white;
    size:14px;
    font-family:Avenir Heavy;
}
.search-btn{
    position: absolute;
    margin-left: -45px;
    margin-top: 15px;
}
.top-navbar{
    align-items: center;
}
.top-navbar a{
    margin-left: 30px;
    color: #FF2288;
    font-size: 14px;
    font-family:Avenir Heavy;
}
.sidebar{
    background-color:#222222 ;
    width: 319px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-top:-120px;
}
.sidebar a{
    color: white;
}
.middle-top-nav{
    justify-content: space-between;
    align-items: center;
    font-family:Avenir LT Std book;
    border-top: 1px solid #F2F2F2;
    padding-top: 20px;
}
.middle-top-nav a{
    padding-left: 32px;
    color: #222222;
}
.filter-div{
    align-items: center;
    justify-content: center;
    width: 132px;
    min-height: 56px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #D8D8D8;
    font-family:Avenir Heavy;
    font-size: 16px;
}
.filter-image{
    margin-right: 15px;
}
.load-more{
    align-items: center;
    justify-content: center;
    width: 259px;
    height: 56px;
    background-color: #F2F2F2;
    margin:70px auto 0;
    font-size: 16px;
    font-family:Avenir Heavy;
    border-radius:12px;
}
.sidebar-nav{
    background-color: #222222;
    height: 100%;
    padding: 2rem;
}
.sidebar-nav li{
    display: flex;
    align-items: center;
    margin-top:51px;
}
.sidebar-nav a{
    padding-left: 15px;
    color:#FFFFFF;
    font-size: 16px;
}
.side-designers{
    color: #FFFFFF;
    align-items: center;
    margin-top: 28px;
}
.side-designers img{
    padding-right: 20px;
}
.sibebar-nav-div{
    margin-bottom: 85px;
}
.following h2{
    color: #FFFFFF;
    size: 12px;

}
.load-more-left{
    margin-top: 19px;
}
.load-more-left{
    padding-bottom: 106px;
}
.wrapper{
    justify-content: space-around;
    max-width: 1920px;
}
.main{
    margin:0 auto;
}
.top-designers{
    margin-left: 319px;
    height: 500px;
    max-width: 1601px;
    background-color: #FAFAFA;
    padding: 67px;

}
.top-designers-nav{
    justify-content: space-between;
    margin-bottom: 54px;
}
.top-designers-nav h2{
    font-size: 32px;
    font-family:Avenir Heavy;
}
.top-designers-nav h3{
    font-size: 14px;
    font-family:Avenir Heavy;
}
.insta h2,h3{
    text-align: center;
    padding: 10px;
}
.following-background{
    width: 132px;
    height: 44px;
    background-color: white;
    border-radius: 12px;
    color: #222222;
    align-items: center;
    justify-content: center;
}
.insta-accounts{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.insta{
    justify-content: space-evenly;
}
.following-insta{
    background-color: #F2F2F2;
    width: 132px;
    height: 44px;
    border-radius: 12px;
    color: #222222;
   
}
.insta-accounts h2{
    font-size: 16px;
    font-family:Avenir medium;
}
.insta h3{
    font-size: 12px;
    opacity: 60%;
    font-family: Avenir LT Std book;
}
.following-background h4{
  font-size: 14px;
  font-family: Avenir Heavy;
}
.top-designers-nav h3{
    opacity: 30%;
}
.middle-main-image-child{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.middle-main-image-para{
    font-size: 18px;
    font-family:Avenir medium;
    display: flex;
    justify-content:flex-start;
    width: 289px;
    height: 52px;
    margin-left: 2rem;
}
.hover-btn:hover{
    width: 250px;
    height: 60px;
    background-color: #FF2288;
    border:none;
    border-radius: 12px;
    transition: 0.3s;
    padding-left: 10px;
}
.bottom-nav{
    flex-direction: column;
  
}
.bottom-nav-section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 1094px;
    margin-left: 501px;
    width: 100%;
    margin-top: 69px;
}
.bottom-nav li{
    margin-top: 20px;
    font: 16px;
    font-family:Avenir LT Std book;
}
.bottom-nav h2{
    margin-bottom: 36px;
    font-family:Avenir Heavy;
    font-size: 16px;
}
.bottom-nav a{
    color:#222222;
}
.footer-smart-logo{
    align-items: center;
}
.footer-icons{
    align-items: center;
    justify-content: space-between;
    max-width: 1235px;
    width: 100%;
    border-top: 1px solid #F2F2F2;
    padding-top: 50px;
    margin:100px 0 40px 501px;
}

.footer-icons img{
    margin-right: 20px;
}
.footer-smart-logo h3{
    font-family:Avenir LT Std book;
}
.footer-smart-logo h2{
font-family: Avenir LT Std black;
}