*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}

.top-wrapper{
  
    display: grid;
    grid-template-columns:1fr 5fr;
    grid-template-areas: 
    "left right";
}
.sidebar-images{
    
    padding: 30px;
    justify-content:space-between;
    align-items: center;
}
.sidebar{
    align-items: center;
   
}
.sidebar a{
    margin-left: 15px;
    color:#FFFFFF;
    font-family: Avenir medium;
    font-size: 16px;
}
.sidebar ul{
    margin-left: 30px;
}
.sidebar li{
    margin-top: 52px;
    align-items: center;
    padding-left:30px;
}
.sidebar li:hover{
    background-color: #FF2288;
    border-radius: 10px;
    max-width: 259px;
    height:60px;
    margin-right:30px;
    transition: .3s;
}
.following h2{
    color: white;
}
.following{
    margin-top: 89px;
    margin-left: 60px;
}
.sidebar-image-name{
    color: white;
    font-size: 16px;
    font-family:Avenir medium;
    margin-left: 20px;
}
.side-designers{
    align-items: center;
    margin-top:15px;
}
.load-more{
    margin-top: 19px;
    font-size: 14px;
    font-family:Avenir Heavy;
    margin-bottom: 106px;

}
.search-inspiration{
    width: 446px;
    height: 56px;
    border:none;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 20px;
}
.sidebar-grid{
    background-color:#222222;
}
.main-nav ul{
    align-items: center;
}
.upload-btn{
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Avenir Heavy;
}
.main-header{
    justify-content: space-between;
    padding: 20px;
    
}
.main-nav li{
    padding-right: 30px;
    
}
.main-nav{
    margin-right: 91px;
}
.search-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: transparent;
    border: none;
}
.search-box{
    position: relative;
}
.main-nav a{
    color:#FF2288;
    font-size: 14px;
    font-family:Avenir Heavy;
}